.contract-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

h2{
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.address-input{
    text-align: center;
    width: 50%;
    margin: 5px;
}

.input{
    text-align: center;
    width: 15%;
    margin: 5px;
}

button{
    width: 20%;
    margin: 5px;
}

.dark {
    background-color: #2c3e50;
    color: white;
}

.light {
    background-color: #ecf0f1;
    color: black;
}