#theme-button{
    border: 2 solid teal;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px 12px 12px 12px;
}

#toolbar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow-x: visible;
    overflow-y: hidden;
}